


  <div class="div_class">
  <form #detailsForm="ngForm" > 
    
  <mat-form-field appearance="fill">
     <mat-label>שם מלא</mat-label>
     <input matInput type="text" name="name" [(ngModel)]="details.name" pattern="[א-תa-zA-Z]*"  required #name="ngModel">
     <p class="alert" *ngIf="!name.valid && name.touched">The name is required please write only letters and spaces </p>
  </mat-form-field>
  <br />

  <mat-form-field appearance="fill">
    <mat-label>טלפון</mat-label>
    <input matInput type="text"   name="phone" [(ngModel)]="details.phone" pattern="[0-9]*" maxlength="10" required #phone="ngModel">
    <p class="alert" *ngIf="!phone.valid && phone.touched">The phone must be only numbers and maximum 10 characters </p>
 </mat-form-field>
  <br />

 <mat-form-field appearance="fill"> 
   <mat-label>כתובת מייל</mat-label>
   <input  matInput type="email" name="email" [(ngModel)]="details.email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required #email="ngModel">
   <p class="alert" *ngIf="!email.valid && email.touched">The email must in a proper format </p>
 </mat-form-field>
  <br />

  <mat-form-field appearance="fill">
    <mat-label class="a">תעודת זהות</mat-label>
    <input matInput  type="text" name="id" [(ngModel)]="details.id" pattern="[0-9]*"   maxlength="9" minlength="9" required #id="ngModel">
    <p class="alert" *ngIf="!id.valid && id.touched">The id must in a proper format </p>
  </mat-form-field>
   <br />

  <button mat-raised-button (click)="checkId()" [disabled]="!detailsForm.form.valid">שליחה</button>

</form> 

‏</div>
