/* .ng-invalid.ng-touched:not(form)  {
    border: 1px solid red;
  } */
form{
    direction: rtl;
}
mat-form-field {
  margin-right: 12px;
}
.div_class{
  margin: auto;
    width: 34%;
    border: 3px solid green;
    padding: 15px;
}
.mat-form-field {
  display: inline-block;
  position: relative;
  text-align: right;
}